{% extends 'base.html.twig' %}

{% block body %}
    <h1>TipoLavado</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipoLavado.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipoLavado.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ tipoLavado.descripcion }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ tipoLavado.precio }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_tipolavado_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_tipolavado_edit', { 'id': tipoLavado.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
