{% extends 'base.html.twig' %}

{% block body %}
    <h1>CentroIntegral</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ centroIntegral.id }}</td>
            </tr>
            <tr>
                <th>Operarios</th>
                <td>{{ centroIntegral.operarios }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ centroIntegral.direccion }}</td>
            </tr>
            <tr>
                <th>Turnopars</th>
                <td>{{ centroIntegral.turnopars }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_centrointegral_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_centrointegral_edit', { 'id': centroIntegral.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
