{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('public/js/jquery-ui/jquery-ui.css') }}" />
<link rel="stylesheet" href="{{ asset('public/bootstrap-tagsinput.css') }}" />
{% endblock %}

{% block portada %}
<div class="container-fluid login" style="width:95%"> 

    <h1>Planificar lavados</h1>
    <h5><em>Se recomienda utilizar pantalla con alta resolución: notebook, pc, tablet, etc.</em></h5>
    <br/>
    <br/>
    <!--<a href="{{ path('corporativo_plan_edit', { 'id': plan.id }) }}">{{ plan.id }}</a>-->

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Cantidad</th>
                <th>Tipo de Vehiculo</th>
                <th>Tipo de Lavado</th>
                <th>Centro Integral</th>
                <th>Periodicidad</th>
                <th>Seleccionar dias</th>
            </tr>
        </thead>
        <tbody>
        {% for flota in plan.flotas %}
            <tr>
                <td>{{ flota.cantidad }}</td>
                <td>{{ flota.tipovehiculo }}</td>
                <td>{{ flota.tipolavado }}</td>
                <td>{{ flota.centrointegral }}</td>
                <td>{{ flota.periodicidad }}</td>
                <td>
                    <div class="row-fluid">

                    <div class="col-xs-11">
                    <input class="form-control" id="tags" data-role="tagsinput" type="text" name="fechas" class="fechas"/>
                    </div>                    
                    <input type="text" class="datepicker" hidden="true" ></input>

                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('corporativo_plan_index') }}" class="btn btn-warning">Cancelar</a>
    <input class="btn btn-success" type="button" value="Guardar Planificación">
    <input class="btn btn-primary" type="button" value="Enviar Planificación">
<p></p>
<p></p>
<p></p>
<p><h6>*Si está seguro de la elección, presione el botón "Enviar".</h6></p>
<p><h6>*Si desea continuar más tarde, presione el botón "Guardar Planificación".</h6></p>
<p><h6>*Si no desea guardar ningún cambio, presione el botón "Cancelar".</h6></p>
</div>
{% endblock portada %}

{% block servicios %}
{% endblock servicios %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('public/js/jquery-ui/jquery-ui.js') }}"></script>
<script src="{{ asset('public/bootstrap-tagsinput.js') }}"></script>
<script>
$("#tags").tagsinput();
$.datepicker.regional['es'] = {
 closeText: 'Cerrar',
 prevText: '<Ant',
 nextText: 'Sig>',
 currentText: 'Hoy',
 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
 weekHeader: 'Sm',
 dateFormat: 'dd/mm/yy',
 firstDay: 1,
 isRTL: false,
 showMonthAfterYear: false,
 yearSuffix: ''
 };
 $.datepicker.setDefaults($.datepicker.regional['es']);

  $(function() {
        $( ".datepicker" ).datepicker({
            'dateFormat' : 'yy-mm-dd',
            'minDate' : new Date(),
            'showOn' : 'button',
            'buttonImage' : '{{ asset("public/js/jquery-ui/images/calendar.png") }}',//'images/calendar.png',
            'buttonImageOnly' : true,
            'buttonText' : 'Seleccione dias',
            
            'onSelect' : function(dateText, inst){ 
                $input  = inst.input;
                $fechas = $($input[0].parentElement).find('input');
                $fechas.val($fechas.val() + ' ' + dateText);
                $fechas.focus();
            }
        });
        
  }

  );
</script>
{% endblock javascripts %}