{% extends 'base.html.twig' %}

{% block body %}
    <h1>TurnoPar</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ turnoPar.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if turnoPar.fecha %}{{ turnoPar.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Hora</th>
                <td>{% if turnoPar.hora %}{{ turnoPar.hora|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reserva_turnopar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reserva_turnopar_edit', { 'id': turnoPar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
