{% extends 'base.html.twig' %}

{% block body %}
    <h1>Flota</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flotum.id }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ flotum.cantidad }}</td>
            </tr>
            <tr>
                <th>Periodicidad</th>
                <td>{{ flotum.periodicidad }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('corporativo_flota_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('corporativo_flota_edit', { 'id': flotum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
